*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    font-size: 14px;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    background: url("../images/bg.jpg") left top;
}
.game_start{
    width: 20rem;
    height: 74%;
    position: fixed;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
}
.game_start .logo{
    width: 100%;
}
.game_start .processing{
    width: 200px;
    height: 40px;
    margin: 40px auto 0;
    background: url("../images/loading.png") no-repeat left top;
    animation: processing_effect 1.5s steps(3) both infinite;
    -webkit-animation: processing_effect 1.5s steps(3) both infinite;
}
/* 动画 */
@keyframes processing_effect{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 -123px;
    }
}
@-webkit-keyframes processing_effect{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 -123px;
    }
}
.game_start .btn{
    bottom: 1rem;
    border: 3px solid #3a3939;
    width: 70%;
    height: 2.5rem;
    line-height: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 2.5rem;
    text-align: center;
    position: absolute;
}